.container {
  @apply grid grid-rows-[1fr_auto_auto_46px] grid-cols-[1fr_3em] justify-items-center text-center;
  grid-template-areas:
    "poster poster"
    "subtitle edit-button"
    "title edit-button"
    "navigation navigation";
}
@media (--medium) {
  .container {
    @apply grid-rows-[1fr_auto_auto_46px] grid-cols-[auto_1fr_3em] justify-items-start text-start;
    grid-template-areas:
      "poster . ."
      "poster subtitle edit-button"
      "poster title edit-button"
      "poster navigation navigation";
  }
}
.poster {
  @apply self-end rounded-[var(--radius-medium)] opacity-[calc(1_-_var(--stickiness))] m-2.5;
  grid-area: poster;
  max-inline-size: 80vw;
}
@media (--medium) {
  .poster {
    @apply invisible;
  }
}
.title {
  @apply text-[white] m-0;
  grid-area: title;
}
.subtitle {
  @apply text-[white] opacity-[calc(0.7_*_(1_-_var(--stickiness)))] transition-[250ms] duration-[opacity];
  grid-area: subtitle;
}
.title,
.subtitle {
  margin-inline-start: 0;
  margin-inline-end: -3rem;
}
@media (--medium) {
  .title,
  .subtitle {
    margin-inline-start: 20px;
  }
}
.editButton {
  @apply self-center justify-self-center text-[white] opacity-50 transition-opacity duration-[ease-in-out-sine] delay-[0.1s] hover:opacity-100;
  grid-area: edit-button;
  margin-inline-end: 20px;
}
.nav {
  grid-area: navigation;
}